[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network-online.target

[Service]
Type=simple
User={{ node_exporter.user }}
Group={{ node_exporter.group }}
ExecStart={{ node_exporter.local_path }}/node_exporter-{{node_exporter.version}}.linux-amd64/node_exporter $OPTIONS
TimeoutStopSec=180
Restart=always
RestartSec=0s

[Install]
WantedBy=multi-user.target